extends ../layout

block content
	.row
		.col-md-6.col-md-offset-3
			br
			br
			br
			br
			form.form(action="/apps/create",method="post")
				.form-group
					label(for="") Name
					input.form-control(name="name",type="text")
				.form-group
					label(for="") Key
					input.form-control(name="key",type="text")
				.form-group
					label(for="") Captive Portal
					select.form-control(name="portal")
						option(value="0") No
						option(value="1") Yes
				.form-group
					label(for="") Visiblity
					select.form-control(name="visible")
						option(value="1") Visible in Portal
						option(value="0") Hidden in Portal
				.form-group
					label(for="") Description
					textarea.form-control(name="description")
				.form-group
					label(for="") Docker command
					textarea.form-control(name="docker_command")

				button.btn.btn-primary.btn-lg CREATE
			br
			br
			br
			br
