extends layout

block content
	.row
		.col-md-12
			.row
				.col-md-12
					.page-header
						h1 Nodes

			.row
				.col-md-3
					.jumbotron(style="padding-left: 0;padding-right: 0;background-color: #dff0d8;")
						.row
							.col-md-12
								center
									h1(style="margin-bottom:0;font-size: 45px;") 56
									h3(style="margin-top:0;") Active
				.col-md-3
					.jumbotron(style="padding-left: 0;padding-right: 0;background-color: #fcf8e3;")
						.row
							.col-md-12
								center
									h1(style="margin-bottom:0;font-size: 45px;") 3
									h3(style="margin-top:0;") Warnings
				.col-md-3
					.jumbotron(style="padding-left: 0;padding-right: 0;background-color: #f2dede;")
						.row
							.col-md-12
								center
									h1(style="margin-bottom:0;font-size: 45px;") 2
									h3(style="margin-top:0;") Down
				.col-md-3
					.jumbotron(style="padding-left: 0;padding-right: 0;")
						.row
							.col-md-12
								center
									h1(style="margin-bottom:0;font-size: 45px;") 1
									h3(style="margin-top:0;") Disabled

			.row
				.col-md-12
					.page-header
						h1
							| Wifi Clients
							small &nbsp;(Unique MACs)

			.row
				.col-md-3
					.jumbotron(style="padding-left: 0;padding-right: 0;")
						.row
							.col-md-12
								center
									h1(style="margin-bottom:0;font-size: 45px;") 134
									h3(style="margin-top:0;") 24 Hours
				.col-md-3
					.jumbotron(style="padding-left: 0;padding-right: 0;")
						.row
							.col-md-12
								center
									h1(style="margin-bottom:0;font-size: 45px;") 324
									h3(style="margin-top:0;") 48 Hours
				.col-md-3
					.jumbotron(style="padding-left: 0;padding-right: 0;")
						.row
							.col-md-12
								center
									h1(style="margin-bottom:0;font-size: 45px;") 1099
									h3(style="margin-top:0;") 7 Days
				.col-md-3
					.jumbotron(style="padding-left: 0;padding-right: 0;")
						.row
							.col-md-12
								center
									h1(style="margin-bottom:0;font-size: 45px;") 4032
									h3(style="margin-top:0;") 31 Days

			.row
				.col-md-12
					.page-header
						h1
							| Returning Wifi Clients
							small &nbsp;(Unique MACs)

			.row
				.col-md-3
					.jumbotron(style="padding-left: 0;padding-right: 0;")
						.row
							.col-md-12
								center
									h1(style="margin-bottom:0;font-size: 45px;") 75
									h3(style="margin-top:0;") 24 Hours
				.col-md-3
					.jumbotron(style="padding-left: 0;padding-right: 0;")
						.row
							.col-md-12
								center
									h1(style="margin-bottom:0;font-size: 45px;") 104
									h3(style="margin-top:0;") 48 Hours
				.col-md-3
					.jumbotron(style="padding-left: 0;padding-right: 0;")
						.row
							.col-md-12
								center
									h1(style="margin-bottom:0;font-size: 45px;") 502
									h3(style="margin-top:0;") 7 Days
				.col-md-3
					.jumbotron(style="padding-left: 0;padding-right: 0;")
						.row
							.col-md-12
								center
									h1(style="margin-bottom:0;font-size: 45px;") 743
									h3(style="margin-top:0;") 31 Days

			.row
				.col-md-12
					.page-header
						h1
							| Pages Served

			.row
				.col-md-3
					.jumbotron(style="padding-left: 0;padding-right: 0;")
						.row
							.col-md-12
								center
									h1(style="margin-bottom:0;font-size: 45px;") 939
									h3(style="margin-top:0;") 24 Hours
				.col-md-3
					.jumbotron(style="padding-left: 0;padding-right: 0;")
						.row
							.col-md-12
								center
									h1(style="margin-bottom:0;font-size: 45px;") 2322
									h3(style="margin-top:0;") 48 Hours
				.col-md-3
					.jumbotron(style="padding-left: 0;padding-right: 0;")
						.row
							.col-md-12
								center
									h1(style="margin-bottom:0;font-size: 45px;") 10939
									h3(style="margin-top:0;") 7 Days
				.col-md-3
					.jumbotron(style="padding-left: 0;padding-right: 0;")
						.row
							.col-md-12
								center
									h1(style="margin-bottom:0;font-size: 45px;") 83482
									h3(style="margin-top:0;") 31 Days